<!--- Sidebar and nav template site-wide -->
<aside class='sidebar'>
        <div>
                <nav>
                        <a href="{{site.baseurl}}/"
                                ><img class="badge" src="{{site.baseurl}}/assets/img/badge_1.png" alt="CH"
                        /></a>
                        {% for node in site.pages %} {% unless node.nav_exclude %} {% if page.url == node.url
                        %}
                        <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active"
                                >{{node.title}}</a
                        >
                        {% else %}
                        <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
                        {% endif %} {% endunless %} {% endfor %}
                </nav>
                <ul class="social-links">
                        <li>
                                <a href="mailto:hate@spam.net"><span class="icon-mail3"></span></a>
                        </li>
                        {% for entry in site.data.social %}
                        <li>
                                <a href="{{ entry.link }}"><span class="{{ entry.icon }}"></span></a>
                        </li>
                        {% endfor %}
                </ul>
        </div>
</aside>
